{% extends 'base.html' %}
{% load custom_filter %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
  $(function(){
    $("#hello_button").click(function(){
                $('input[type="text"],textarea').each(function(){
        console.log('g');
        console.log($(this).val())

    })});

    function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}


 });

  $(document).ready(function()
{
    setTimeout(function()
    {
        alert('You have spent 30 minutes on this question. Please save your answers and submit them below');
    },
    1000 * 10 * 30);
});


</script>
<h1>Question {{ question.number }}</h1>
{{ question.description }}
{% for ob, for in form.items %}
    {%  if form|is_composite_question %}
        <h1>Part {{ ob.part|get_roman_numeral }}</h1>
    {% endif %}
    {% include "question/question_update.html" with object=ob fo=for %}
    {% include "static_lint/static_lint_detail_view.html" with object=static_errors|get_item:ob %}
    {% include "results_for_question.html" with results=test_results|get_item:ob marks_available=ob.max_mark %}
{% endfor %}
    <h2>Total marks</h2>
    {{ test_results|get_total_marks }} / {{ test_results|get_total_available_marks }}
{% include "question/navigate_questions.html" with next_question=next_question previous_question=previous_question %}

    <h1>Finished?</h1>
 <button id="hello_button">Save your answers</button>
<p>To submit your answers please:</p>
    <ol>
    <li>
        Click this button to save your answers ->
    </li>
        <li>
            Wait for the page to reload
        </li>
    <li>
        Click here to generate download file -> <a id='submit_page' href="{% url 'submit_page:submit-view' %}">Click here to download file</a>
    </li>
    <li>
        Upload it to the website -> <a href="https://emhodges.github.io/markerWebsite/upload">Click here to upload file</a>
    </li>
    </ol>
    <p>Thank you!</p>
{% endblock %}
